<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plife.dao.SelfCardDao">

    <resultMap id="selfAll" type="selfCard" >
        <id column="id" property="id" javaType="long" jdbcType="BIGINT" />
        <result column="student_id"  property="studentId" javaType="long" jdbcType="BIGINT"/>
        <result column="number"  property="number" javaType="string" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getSelfCardByStudentId" resultMap="selfAll" parameterType="long">
        SELECT * FROM selfcard WHERE student_id=#{student_id}
    </select>
</mapper>