<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plife.dao.StudentDao">
<cache type="com.plife.cache.REache"/>

    <resultMap id="StudentAll" type="Student" >
        <id column="id" property="id" javaType="long" jdbcType="BIGINT" />
        <result column="name"  property="name" javaType="string" jdbcType="VARCHAR"/>
        <association property="selfCard" column="id" select="com.plife.dao.SelfCardDao.getSelfCardByStudentId" />
    </resultMap>

    <select id="getStudentById" resultMap="StudentAll" parameterType="long" >
        SELECT id,name FROM student WHERE id=#{id}
    </select>

</mapper>